<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mealab</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- <meta content="" name="keywords">
    <meta content="" name="description"> -->

    <!-- Favicons -->
    <!-- <link href="/assets/favicon.png" rel="icon">
    <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700|Lato:400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <!-- <link href="/assets/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Libraries CSS Files -->
    <!-- <link href="/assets/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="/assets/fancybox.css" rel="stylesheet"> -->

    <!-- Main Stylesheet File -->
    <link href="/assets/style.css" rel="stylesheet">

</head>

<body>

    <section id="home" name="home"></section>
    <div id="headerwrap">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
            <h1>MEALAB</h1>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span><input type="name" name="name" class="form-control" id="contact-name" placeholder="" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
            <div class="validate"></div>
            <br>
            <button type="submit" class="btn btn-outline-primary btn-lg" style="background: white" >Search</button></span>
          </div> -->
        </div>
      </div>
    </div>

</body>
